html{
  overflow-x: hidden;
}
.hero-text{
 background-color: #137fec3f;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 100vh;
  color: black;
}
.team-image{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around;
   /* padding: 70px; */
}
.team-img{
    display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  color: black;
} 
.team-img img{
  width: 250px;
  height: 250px;
 border-radius: 50%;
}

.form-one input{
  outline: none;
  border: 1px solid black;
  border-radius: 20px;
  width: 600px;
  background-color: white;
  padding: 10px;
  margin: 20px 0px;
  
}
.form-one button{
  position: absolute;
  right: 27.2%;
  background-color: #1381ec;
  color: white;
  border: none;
  border-radius: 0px 19px 19px 0px;
  padding: 11px 31px;
  font-weight: bold;
  margin: 20px 0px;
}
.message p{
  color: green;
}
.message-error p{
  color: red;
}
